<PageTitle>Animace základ</PageTitle>

<div class="container">
    <div id="znovu" onclick="location.reload()"></div>
    <div class="postava" style="@Postava.Style">
        <p class="postavaPopis">@Postava.Jmeno</p>
        <img src="@Postava.Image" />
    </div>

</div>
@code {

}
